@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Edu SA Beginner", cursive;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px;
  gap: 16px;
}

.product-card {
  width: 250px;
  height: 230px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  gap: 16px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-list:visited {
  color: black;
}

.product-image {
  width: 230px;
  height: 128px;
}

.product-name {
  text-align: center;
}


